/* <--- left column styling ---> */
* {
    box-sizing: border-box;
}

img {
  height: auto;
  width: 100%;
  border-radius: 100%;
  border: 2px solid black;
}

.side{
  float: left;
  padding: 8px;
}

.left{
  width: 33%;
  background-color: green;
}

.right{
  width: 67%;
  background-color: grey;
}

.row:after {
  display: table;
  clear: both;
}

.heading{
  display: block;
  text-align: center;
}

h1, h2, h3, h4, .contact {
  text-align: center;
  margin: 0;
}


