* {
    box-sizing: border-box;
    font-family: roboto, arial;
    font-size: 99%;
}

img {
  height: auto;
  width: 80%;
  border-radius: 100%;
  border: 2px solid black;
}

.side{
  float: left;
  padding: 8px;
}

.left, .right{
  position: relative;
  left: 67%;
}

.left{
  width: 33%;
}

.right{
  width: 67%;
}

.row, .row2 {
  float: left;
  position: relative;
}
.row2 {
  overflow: hidden;
}

.row{
  background-color: #50a6c2;
  right: 67%;
}

.row:after, .row2:after{
  content: "";
  display: table;
  clear: both;
}

.heading{
  display: block;
  text-align: center;
}

h1, h2, h3, h4, h5, .contact {
  text-align: center;
  margin: 8px;
}

.right > h1, .right > h2, .right > h3, .right > h4, .right > h5 {
  text-align: left;
  margin: 8px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.right > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

section {
  text-align: left;
}

a, a:visited {
  color: black;
}

p, ul {
  margin: 5px;
}
