body {
  background-color: black;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  color: #4cc355;
}

/* nav bar elements: */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1;
}

li {
  float: right;
}

.home {
  float: left;
}

li a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  color: #4cc355;
}

li a:visited {
  color: #d4d;
}
/* main header elements: */
.title {
  display: block;
  margin-top: 30px;
  padding: 20px;
}
.h1 {
  display: inline-block;
  padding: 10px 25px;
  margin: 20px;
  border: 2px dashed #4cc355;
}

article {
  padding: 15px;
}

/* <----- technologies icon area ----> */
.icon_list {
  display: flex;
  flex-wrap: wrap;
  border: 2px dashed #4cc355;
  padding: 15px;
}

.icon {
  height: 100px;
  width: 100px;
  padding: 2px;
  border: 2px;
  margin: 5px;
}

.joomla, .github {
  filter: invert(80%);
}

/* <---- project divs area ---> */

.left{
  display: inline-block;
  border: 2px dashed #4cc355;
  padding: 10px;
  width: 45%;
  float: left;
  margin: 15px;
}

.right{
  display: inline-block;
  border: 2px dashed #4cc355;
  padding: 10px;
  width: 45%;
  margin: 15px;
}
.row {

}
