body {
  background-color: black;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  color: #4cc355;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100vh;
}


.main{
  overflow: auto;
}

/* nav bar elements: */

nav {
  background-color: #333;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

.home {
  float: left;
}

li a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  color: #4cc355;
}

nav li a:visited {
  color: #d4d;
}

/* main header elements: */

.title {
  display: block;
  margin-top: 32px;
  padding: 24px;
}
.h1 {
  display: inline-block;
  padding: 10px 25px;
  margin: 20px;
  border: 2px dashed #4cc355;
}

article {
  padding: 16px;
}

/* <----- technologies icon area ----> */
.icon_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px dashed #4cc355;
  padding: 16px;
}

.icon {
  height: 100px;
  width: 100px;
  padding: 2px;
  border: 2px;
  margin: 8px;
}

.joomla, .github {
  filter: invert(80%);
}


/* <---- columnar responsive boxes ---> */

.left, .right{
  border: 2px dashed #4cc355;
  padding: 16px;
  float: left;
  margin: 15px;
  flex-grow: 1;
  box-sizing: border-box;
  min-width: 304px;
}
.third {
  max-width: 30%;
}
.col {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.projects{
  max-width: 45%;
  box-sizing: border-box;
}

.row{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

/* Stuff for responsive layout, should probably */
/* have gone first... */

@media only screen and (max-width: 988px){

  .left, .right {
    min-width: 100%;
  }

}

