body {
  background-color: black;
  font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
  color: #4cc355;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100vh;
}


.main{
  overflow: auto;
}

/* nav bar elements: */

nav {
  background-color: #333;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: right;
}

.home {
  float: left;
}

nav a {
  display: block;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
  color: #4cc355;
}

nav li a:visited {
  color: #d4d;
}

nav li a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* main header elements: */

.title {
  display: block;
  margin-top: 32px;
  padding: 24px;
}
.h1 {
  display: inline-block;
  padding: 10px 25px;
  margin: 20px;
  border: 2px dashed #4cc355;
}

article {
  padding: 16px;
}

/* <----- technologies icon area ----> */
.icon_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 2px dashed #4cc355;
  padding: 16px;
}

.icon {
  height: 100px;
  width: 100px;
  padding: 2px;
  border: 2px;
  margin: 8px;
}

.joomla, .github {
  filter: invert(80%);
}


/* <---- columnar responsive boxes ---> */

.left, .right{
  border: 2px dashed #4cc355;
  padding: 16px;
  float: left;
  margin: 15px;
  flex-grow: 1;
  box-sizing: border-box;
  min-width: 304px;
}
.third {
  max-width: 30%;
}
.col {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.projects{
  max-width: 45%;
  box-sizing: border-box;
}

.row{
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

/* Stuff for responsive layout, should probably */
/* have gone first... */

@media only screen and (max-width: 988px){

  .left, .right {
    min-width: 100%;
  }
}

.nav-btn {
  display: none;
}

#nav-check {
  display: none;
}

@media (max-width:988px) {
  .nav-btn {
    display: flex;
    justify-content: space-between;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    background-color: #333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 16px;
  }

  label:hover {
      background-color: rgba(0, 0, 0, 0.3);
  }

  label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
  }

  .nav-links {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-content: flex-start;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }

  .nav-links  a {
      display: block;
      width: 100%;
    }

  #nav-check:not(:checked) + .nav-links {
      height: 0px;
    }

  #nav-check:checked + .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
